html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.from_container {
    display: flex;
    justify-content: center;
}

.from_container>form {
    border: 0px;
    padding: 20px;
    width: 100%;
}

@media only screen and (min-width: 600px) {
    .from_container>form {
        width: 500px;
    }
}

.form-group>.error_messages {
    color: #dc3545 !important;
}

.errorlist {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main_container {
    padding-top: 100px;
    padding-bottom: 100px;
}
